.content-section {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.header {
  padding: 92px 50px;
  display: flex;
  font-size: 18px;
  line-height: 21px;
}

.header__menu {
  min-width: 388px;
  align-self: center;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  margin: auto;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  object-fit: cover;
  object-position: top;
}

.header__address {
  margin-left: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  margin: 165px 50px 135px;
  z-index: 1;
}

.cover__description {
  margin: 0 50px 0 auto;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  column-gap: 78px;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 25px;
  color: #fff;
}

.bet-button {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 12px 32px;
}

.aligned-text {
  display: block;
}


.aligned-text__center {
  text-align: center;
  margin: 20px 0;
}

.aligned-text__right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin: 0 40px 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  list-style: none;
  width: 430px;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
  
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #fff;
  margin: 50px 40px 0;
  z-index: 1;
}

.card__text {
  line-height: 120%;
  color: #fff;
  margin: 0 40px 50px;
  z-index: 1;
}

.lots__look-more-link {
  margin: 0 40px 0;
  font-size: 20px;
  line-height: 23px;
}

.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  object-fit: cover;
  object-position: top;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin: 75px 0 100px;
}

.about__text-block {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.about__text {
  line-height: 23px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu {
  justify-items: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__link {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
}

.footer__social-list-item {
  list-style: none;
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.footer__social-icon {
  object-fit: cover;
  object-position: top;
}